.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.spinner__icon {
  width: 48px;
  height: 48px;
  border: 5px solid #b9b9b9;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert {
  color: red;
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #f8d7da;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  height: fit-content;
  flex-grow: 1;
  justify-content: center;
}

.login__error {
  color: #f64747;
  margin: 20px 10px 10px;
  text-align: center;
  font-size: 16px;
}

.review-send__error {
  color: #f64747;
  margin: 20px 10px 10px;
  text-align: center;
  font-size: 16px;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
  font-size: 24px;
  flex-direction: column;
  text-align: center;
}

.not-found__button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}
